.experience-section {
  background-color: #0d0d0d;
  color: #fff;
  padding: 0.1px 20px;
  font-family: "Segoe UI", sans-serif;
  padding-bottom: 17px;
}

.experience-container {
  max-width: 1000px;
  margin: 0 auto;
}

.experience-title {
  /* font-size: 36px; */
  font-size: clamp(24px, 5vw, 36px);
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  color: #ffb347;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experience-card {
  background-color: #1c1c1e;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(105, 93, 207, 0.2);
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 16px rgba(255, 179, 71, 0.3);
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.experience-header h2 {
  font-size: clamp(16px, 2.5vw, 22px);
  font-weight: 600;
  color: #f5f5f5;
}

.duration {
  /* font-size: 14px; */
  font-size: clamp(11px, 2.3vw, 14px);

  color: #bbb;
}

.company {
  font-size: clamp(12px, 2.5vw, 16px);
  color: #ccc;
  margin-bottom: 10px;
}

.experience-points {
  list-style: disc outside;
  padding-left: 1.25rem; /* Adjust as needed */
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 1.6;
  color: #ddd;
}

.experience-points li::marker {
  color: #ffb347;
}

